<div class="container m-2 mx-auto ">
    <div class="p-5 list-div">

       <div class="m-2 shadow-sm bg-white">
        <!-- <div class="d-flex justify-content-end">
            <div class="p-1 border m-2">
                <Label>12 of January, 2023</Label>
            </div>
        </div> -->
        <div class="welcome text-center p-2">
           <div class="m-5 p-5">
            <h4 class="fw-light"> What's up buddy!</h4>
            

            <button type="button"  class="btn btn-lg btn-org mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> topic 
              </button>
           </div>
            


        </div>


       </div>


    </div>

</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Give your title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form  method="post">
            <div class="modal-body">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Title" name="title">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
              <button type="submit" class="btn btn-info text-white">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>